<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Study_Plan</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/main.css}">
    </head>
    <body>
    <nav class="menu">
        <ul class="menu_list">
            <li class="menu__item"><a href="/index/registration.html" class="menu__link">Список дисциплин</a></li>
            <li class="menu__item"><a href="/index/login.html" class="menu__link">Дисциплины</a></li>
        </ul>
    </nav>
    <div class="list">
        <h1 class="text">
            СПИСОК
        </h1>
    </div>
    <div class="t">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Семестр</th>
                <th>Вид аттестации</th>
                <th>ФИО преподавателя</th>
                <th>Объем в часах</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="studyPlan : ${studyPlanList}">
                <td th:text="${studyPlan.id}"></td>
                <td th:text="${studyPlan.name}"></td>
                <td th:text="${studyPlan.semester}"></td>
                <td th:text="${studyPlan.isExam}"></td>
                <td th:text="${studyPlan.teacher}"></td>
                <td th:text="${studyPlan.hours}"></td>
                <td>
                    <form th:action="@{/home/delete/{id}(id=${instrument.id})}" method="post">
                        <button type ="submit" class="button-17" role="button">Удалить</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{'/instrument/'+${instrument.id}}">
                        <button type ="submit" class="button-17" role="button">Редактировать</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </body>
</html>