<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Study_Plan</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/main.css}">
    </head>
    <body>
    <div class="list">
        <h1 class="text">
            ДИСЦИПЛИНА
        </h1>
    </div>
    <form class="failes_list" method="post" th:action="@{/creation/add}">
        <input type="text" name="id" placeholder="ID" required>
        <input type="text" name="name" placeholder="Название" required>
        <input type="text" name="semester" placeholder="Номер семестра" required>
        <input type="text" name="isExam" placeholder="Вид аттестации" required>
        <input type="text" name="teacher" placeholder="ФИО преподавателя" required>
        <input type="text" name="hours" placeholder="Объем в часах" required>
        <button type="submit" class="button-17" role="button">Добавить</button>
    </form>
    <div class="t">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Семестр</th>
                <th>Вид аттестации</th>
                <th>ФИО преподавателя</th>
                <th>Объем в часах</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="studyPlan : ${studyPlanList}">
                <td th:text="${studyPlan.id}"></td>
                <td th:text="${studyPlan.name}"></td>
                <td th:text="${studyPlan.semester}"></td>
                <td th:text="${studyPlan.isExam}"></td>
                <td th:text="${studyPlan.teacher}"></td>
                <td th:text="${studyPlan.hours}"></td>
                <td>
                    <a th:href="'/studyPlan/' + ${studyPlan.id}" type="submit" class="button-17" role="button">Редактировать</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </body>
</html>